/* date input */

.date-input,
.date-input:active,
.date-input:focus {
  padding: 15px 20px;
  font-weight: 200;
  border: 1px solid rgba(192, 191, 191, 0.733);
  border-radius: 5px;
  color: rgb(77, 76, 76);
  font-size: 16px;
  outline: none;
  color-scheme: #1c87c9;
  text-transform: uppercase;
}

.date-input::-webkit-calendar-picker-indicator {
  background: url("../assets/calendar-icon.png") center/90% no-repeat;
}

.date-input:hover {
  color: #1c87c9;
  box-shadow: -3px 8px 25px -7px rgba(104, 158, 240, 0.534);
}

/* radio button  */

input[type="radio"] {
  visibility: hidden;
}

.mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid gray;
}
@media screen and (max-width: 900px) {
  .mark {
    left: -10px;
  }
}
.box input:checked + .mark {
  background-color: #1c87c9;
  border: none;
}

.mark:after {
  content: "";
  position: absolute;
  display: none;
}

.box input:checked + .mark:after {
  display: block;
}

.box .mark:after {
  left: 12px;
  bottom: 9px;
  width: 6px;
  height: 12px;
  border: solid #eee;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* location input  */

.location-input-icons {
  position: relative;
}
.location-input-icons img {
  position: absolute;
  top: 10px;
  left: 10px;
}

.location-input-icons {
  width: 60%;
  margin-bottom: 10px;
}

.locaton-icon {
  padding: 10px;
  min-width: 40px;
}

.location-input-field {
  width: 100%;
  padding: 10px 20px;
  padding-left: 40px;
  border: 1px solid rgba(192, 191, 191, 0.733);
  border-radius: 5px;
  color: rgb(77, 76, 76);
  font-size: 18px;
  outline: none;
}
.location-input-field:active,
.location-input-field:focus {
  border-color: #1c87c9;
}

@media screen and (max-width: 768px) {
  .location-input-icons {
    margin-top: 20px;
    width: 60%;
  }
}

/* form group */

.form-group {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 80%;
}
.form-group-input {
  padding: 15px 20px;
  width: 100%;
  border: 1px solid rgba(199, 199, 199, 0.884);
  border-radius: 6px;
  outline: none;
  color: #1c87c9;
  height: 50px;
}

.form-group-input:focus,
.form-group-input:active {
  border-color: #1c87c9;
}

@media screen and (max-width: 768px) {
  .form-group {
    width: 100%;
  }
}

/* checkboxes page 5 */

.confirm-checkbox {
  width: 25px;
  height: 25px;
}
.confirm-checkbox + span {
  font-size: 12px;
  margin: 0;
  padding-left: 10px;
  text-align: start;
}
